pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
matplotlib==3.9.2
seaborn==0.13.2
tensorflow-macos==2.15.0
tensorflow-metal==1.1.0
xgboost==3.2.0
jupyterlab==4.2.5
ipykernel==6.29.5
shap==0.46.0
scipy==1.13.1
